<!-- # THE FOLLOWING CODE IS FOR TEMPLATE VARIABLES EXERCISE:
<!DOCTYPE html>
<html>
  <body>
    <a href="/">Back To Recipe List</a>
    <h1>{{ template_recipe }}</h1>
    <p>{{ template_description }}</p>
    <h3>Ingredients</h3>
    <ul> -->
      <!-- Ingredients list elements
      should fill the <li> tags -->
      <!--<li>{{ template_ingredients[0] }}</li>
      <li>{{ template_ingredients[1] }}</li>
      <li>{{ template_ingredients[2] }}</li>
    </ul>
  </body>
</html>-->

<!-- # THE FOLLOWING CODE IS FOR VARIABLE FILTERS EXERCISE:
<!DOCTYPE html>
<html>
  <body>
    <a href="/">Back To Recipe List</a> -->
    <!-- Make template_recipe title case -->
    <!-- <h1>{{ template_recipe | title }}</h1> -->
    <!-- Ensure a default description -->  
    <!-- <p>{{ template_description | default("A " + template_recipe + " recipe.") }}</p> -->
    <!-- Output number of ingredients --> 
    <!-- <h3>Ingredients {{ template_ingredients | length }}</h3>
    <ul>
      <li>{{ template_ingredients[0] }}</li>
      <li>{{ template_ingredients[1] }}</li>
      <li>{{ template_ingredients[2] }}</li>
    </ul>
    <h3>Instructions</h3>
    <ol> -->
      <!-- Ensure sorted instruction dictionary -->
      <!-- <li>{{ template_instructions | dictsort }}</li>
    </ol>
  </body>
</html> -->

<!-- # THE FOLLOWING CODE IS FOR IF STATEMENTS EXERCISE: -->
<!--<!DOCTYPE html>
<html>
  <body>
    <a href="/">Back To Recipe List</a>
    <h1>{{ template_recipe | title }}</h1> -->
    <!-- Insert description if statement here -->
    <!--{% if template_description %} 
      <p>{{ template_description }}</p>-->
      <!-- Include else here -->
      <!--{% else %}
        <p>A {{ template_recipe }} recipe.</p>-->
        <!-- Be sure to close with an endif block -->
    <!--{% endif %}
    <h3>Ingredients - {{ template_ingredients | length}}</h3>
    <ul>
      <li>{{ template_ingredients[0] }}</li>
      <li>{{ template_ingredients[1] }}</li>-->
      <!-- Insert ingredient if statement -->
      <!--{% if template_ingredients | length == 3 %}
        <li>{{ template_ingredients[2] }}</li>-->
        <!-- Be sure to close with an endif block -->
      <!--{% endif %}
    </ul>
    <h3>Instructions</h3>
    <ol>
      <li>{{ template_instructions | dictsort }}</li>
    </ol>
  </body>
</html>-->

<!-- # THE FOLLOWING CODE IS FOR FOR LOOPS EXERCISE: -->
<!DOCTYPE html>
<html>
  <body>
    <a href="/">Back To Recipe List</a>
    <h1>{{ template_recipe | title }}</h1>
    {% if template_description %}
      <p>{{ template_description }}</p>
    {%else%}
      <p>A {{ template_recipe }} recipe.</p>
    {% endif %}
    <h3>Ingredients - {{ template_ingredients | length}}</h3>
    <ul>
      <!-- Implement a for loop to iterate through 
      `template_ingredients`-->
      {% for ingredient in template_ingredients %}
        <li>{{ ingredient }}</li> 
      {% endfor%}
    </ul>
    <h3>Instructions</h3>
    <ul>
    {% for key, instruction in template_instructions|dictsort %}
      <!-- Add the correct dictionary element to list 
      the instructions -->
      <p>{{ key }}: {{ instruction }}</p>
    {% endfor %}
    </ul>
  </body>
</html>